Repository hooray/fantastic-startkit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

vite-plugin-vue-devtools 代替 vite-plugin-vue-inspector
  package.json
  pnpm-lock.yaml
  vite/plugins/devtools.ts
  vite/plugins/index.ts
  vite/plugins/inspector.ts
Due: eslint --cache --fix

readme 中链接修改
  README.md
Due: none

优化登录相关示例代码
  src/api/index.ts
  src/api/modules/user.ts
  src/mock/.gitkeep
  src/mock/user.ts
  src/router/index.ts
  src/store/modules/token.ts
  src/store/modules/user.ts
  src/views/login.vue
Due: eslint --cache --fix, stylelint --cache --fix

优化登录相关示例代码
  src/api/index.ts
  src/api/modules/news.ts
  src/api/modules/user.ts
  src/mock/user.ts
  src/router/index.ts
  src/router/modules/root.ts
  src/store/modules/token.ts
  src/store/modules/user.ts
  src/views/example/axios.vue
  src/views/example/permission-js.vue
  src/views/example/permission-router.vue
  src/views/login.vue
Due: eslint --cache --fix, stylelint --cache --fix

devtools 增加启用开关
  .env.development
  vite/plugins/devtools.ts
  vite/plugins/index.ts
Due: eslint --cache --fix

deploy
  guide/configure.md
  guide/start.md
Due: none

deploy
  .vitepress/config.ts
  guide/assistance.md
Due: eslint --cache --fix

代码微调
  src/router/index.ts
Due: eslint --cache --fix

修改readme
  README.md
Due: none

调整 store 写法
  plop-templates/store/index.hbs
  plop-templates/store/prompt.js
  src/mock/user.ts
  src/store/modules/example.ts
  src/store/modules/settings.ts
  src/store/modules/user.ts
Due: eslint --cache --fix

调整 store 写法
  plop-templates/store/index.hbs
  plop-templates/store/prompt.js
  src/mock/user.ts
  src/store/modules/settings.ts
  src/store/modules/user.ts
Due: eslint --cache --fix

deploy
  .github/workflows/docs.yml
Due: none

增加最低 node 版本限制
  .npmrc
  package.json
Due: none

移除弃用扩展
  .vscode/extensions.json
Due: none

deploy
  guide/start.md
Due: none

更新依赖
  package.json
  pnpm-lock.yaml
  src/views/index.vue
Due: eslint --cache --fix, stylelint --cache --fix

deploy
  package.json
  pnpm-lock.yaml
Due: none

修改 github actions 自动同步时间
  .github/workflows/sync.yml
Due: none

deploy
  .vitepress/theme/index.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx,vue}
  stylelint --cache --fix: any of: *.{css,scss,vue}
