Repository hooray/fantastic-startkit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix

.lintstagedrc:

{
  "*.{ts,tsx,vue}": "eslint --cache --fix",
  "*.{css,scss,vue}": "stylelint --cache --fix"
}

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

eslint 规则调整
  eslint.config.js
Due: none

更新依赖
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: none

deploy
  package.json
  pnpm-lock.yaml
Due: none

扩充 unocss 自定义 shortcuts
  uno.config.ts
Due: eslint --cache --fix

fix: axios 响应拦截器请求出错时 status 的判断逻辑
  src/api/index.ts
Due: eslint --cache --fix

fix: axios 响应拦截器请求出错时的判断逻辑
  src/api/index.ts
Due: eslint --cache --fix

更换域名
  README.md
  src/utils/system.copyright.ts
  src/views/index.vue
  vite/plugins.ts
Due: eslint --cache --fix, stylelint --cache --fix

更换域名
  src/utils/system.copyright.ts
  src/views/index.vue
  vite/plugins.ts
Due: eslint --cache --fix, stylelint --cache --fix

deploy
  .vitepress/theme/components/SponsorsAside.vue
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --cache --fix

引入 postcss-nested 依赖
  package.json
  plop-templates/component/index.hbs
  plop-templates/page/index.hbs
  pnpm-lock.yaml
  postcss.config.js
  src/layouts/example.vue
  src/views/example/axios.vue
  src/views/example/pinia.vue
Due: eslint --cache --fix, stylelint --cache --fix

引入 postcss-nested 依赖
  package.json
  plop-templates/component/index.hbs
  plop-templates/page/index.hbs
  pnpm-lock.yaml
  postcss.config.js
Due: none

移除 unocss 自定义 shortcuts
  uno.config.ts
Due: eslint --cache --fix

deploy
  .vitepress/config.ts
  guide/global-resources.md
  guide/resources.md
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix

更新依赖
  package.json
  plop-templates/page/prompt.js
  pnpm-lock.yaml
  src/api/index.ts
  src/main.ts
  src/mock/news.ts
  src/mock/user.ts
  src/router/index.ts
  uno.config.ts
  vite/plugins.ts
Due: eslint --cache --fix

更新依赖
  package.json
  plop-templates/page/prompt.js
  pnpm-lock.yaml
  src/api/index.ts
  src/main.ts
  src/mock/user.ts
  src/router/index.ts
  uno.config.ts
  vite/plugins.ts
Due: eslint --cache --fix

使用 vite-plugin-archiver 插件代替框架存档功能
  package.json
  pnpm-lock.yaml
  vite/plugins.ts
Due: eslint --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
  src/router/index.ts
  uno.config.ts
  vite/plugins.ts
Due: eslint --cache --fix

更新 tsconfig 配置
  .gitignore
  package.json
  src/router/index.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  vite/plugins.ts
Due: eslint --cache --fix

将 sass 替换为 sass-embedded
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
  vite.config.ts
Due: eslint --cache --fix
