Repository hooray/fantastic-startkit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix

.lintstagedrc:

{
  "*.{ts,tsx,vue}": "eslint --cache --fix",
  "*.{css,scss,vue}": "stylelint --cache --fix"
}

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

deploy
  .github/workflows/docs.yml
  guide/start.md
  package.json
  pnpm-lock.yaml
Due: none

deploy
  .vitepress/theme/components/SponsorsAside.vue
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --cache --fix

更换链接
  src/utils/system.copyright.ts
  vite/plugins/app-info.ts
  vite/plugins/banner.ts
Due: eslint --cache --fix

更换链接
  README.md
  src/utils/system.copyright.ts
  vite/plugins/app-info.ts
  vite/plugins/banner.ts
Due: eslint --cache --fix

增加node版本控制文件
  .node-version
Due: none

更新依赖
  package.json
  pnpm-lock.yaml
  src/types/components.d.ts
Due: eslint --cache --fix

vite base 使用默认设置
  vite.config.ts
Due: eslint --cache --fix

deploy
  guide/build.md
Due: none

代码微调
  src/App.vue
Due: eslint --cache --fix, stylelint --cache --fix

代码微调
  src/App.vue
  src/views/index.vue
Due: eslint --cache --fix, stylelint --cache --fix

deploy
  guide/axios.md
  package.json
  pnpm-lock.yaml
Due: none

deploy
  .github/workflows/docs.yml
  package.json
  pnpm-lock.yaml
Due: none

chore: 更新readme
  README.md
Due: none

移除移动端支持
  package.json
  pnpm-lock.yaml
  postcss.config.js
Due: none

deploy
  .github/workflows/docs.yml
  .vitepress/config.ts
  guide/mobile-support.md
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix

修复vscode失效配置
  .vscode/settings.json
Due: none

环境变量 `VITE_APP_DEBUG_TOOL` 改成用 vite 插件的方式注入代码中
  src/App.vue
  vite.config.ts
  vite/plugins/debug-tool.ts
  vite/plugins/index.ts
Due: eslint --cache --fix, stylelint --cache --fix

vite插件合并到单个文件中维护
  vite/plugins.ts
  vite/plugins/app-info.ts
  vite/plugins/archiver.ts
  vite/plugins/auto-import.ts
  vite/plugins/banner.ts
  vite/plugins/components.ts
  vite/plugins/compression.ts
  vite/plugins/console.ts
  vite/plugins/debug-tool.ts
  vite/plugins/devtools.ts
  vite/plugins/index.ts
  vite/plugins/layouts.ts
  vite/plugins/mock.ts
  vite/plugins/pages.ts
  vite/plugins/svg-icon.ts
  vite/plugins/unocss.ts
Due: eslint --cache --fix
