Repository hooray/fantastic-startkit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix

.lintstagedrc:

{
  "*.{ts,tsx,vue}": "eslint --cache --fix",
  "*.{css,scss,vue}": "stylelint --cache --fix"
}

更新依赖
  eslint.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

更新依赖
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

更新依赖
  apps/web-example/package.json
  apps/web-example/src/types/env.d.ts
  apps/web-template/package.json
  docs/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --cache --fix

演示页面样式美化
  apps/web-example/src/assets/styles/globals.css
  apps/web-example/src/layouts/example.vue
  apps/web-example/src/store/modules/example.ts
  apps/web-example/src/views/example/axios.vue
  apps/web-example/src/views/example/component.vue
  apps/web-example/src/views/example/components/ExampleList/index.vue
  apps/web-example/src/views/example/global-component.vue
  apps/web-example/src/views/example/iconify.vue
  apps/web-example/src/views/example/params/[test].vue
  apps/web-example/src/views/example/permission-js.vue
  apps/web-example/src/views/example/permission-router.vue
  apps/web-example/src/views/example/pinia.vue
  apps/web-example/src/views/example/query.vue
  apps/web-example/src/views/example/reload.vue
  apps/web-example/src/views/example/svgicon.vue
  apps/web-example/src/views/index.vue
  apps/web-example/src/views/login.vue
  apps/web-example/vite/plugins.ts
  apps/web-template/src/types/env.d.ts
  apps/web-template/src/views/index.vue
  apps/web-template/src/views/login.vue
  apps/web-template/vite/plugins.ts
  eslint.config.js
Due: eslint --cache --fix, stylelint --cache --fix

提供全局组件子包
  apps/web-example/package.json
  apps/web-example/src/components/DemoButton/index.vue
  apps/web-example/src/layouts/example.vue
  apps/web-example/src/router/index.ts
  apps/web-example/src/router/modules/example.ts
  apps/web-example/src/types/components.d.ts
  apps/web-example/src/views/example/axios.vue
  apps/web-example/src/views/example/component.vue
  apps/web-example/src/views/example/global-component.vue
  apps/web-example/src/views/example/icon.vue
  apps/web-example/src/views/example/iconify.vue
  apps/web-example/src/views/example/params/[test].vue
  apps/web-example/src/views/example/permission-js.vue
  apps/web-example/src/views/example/permission-router.vue
  apps/web-example/src/views/example/pinia.vue
  apps/web-example/src/views/example/query.vue
  apps/web-example/src/views/example/reload.vue
  apps/web-example/src/views/example/svgicon.vue
  apps/web-example/src/views/index.vue
  apps/web-example/vite/plugins.ts
  apps/web-template/package.json
  apps/web-template/src/components/.gitkeep
  apps/web-template/src/components/SvgIcon/index.vue
  apps/web-template/src/types/components.d.ts
  apps/web-template/vite/plugins.ts
  docs/.vitepress/config.ts
  docs/guide/icon.md
  docs/guide/resources.md
  docs/guide/router.md
  docs/guide/svg-icon.md
  packages/components/global.d.ts
  packages/components/index.ts
  packages/components/package.json
  packages/components/resolver.ts
  packages/components/src/icon/index.vue
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --cache --fix, stylelint --cache --fix

bugfix
  apps/web-example/src/views/example/axios.vue
  apps/web-example/src/views/example/component.vue
  apps/web-example/src/views/example/icon.vue
  apps/web-example/src/views/example/params/[test].vue
  apps/web-example/src/views/example/permission-router.vue
  apps/web-example/src/views/example/pinia.vue
  apps/web-example/src/views/example/query.vue
  apps/web-example/src/views/example/reload.vue
  apps/web-example/src/views/login.vue
  apps/web-example/uno.config.ts
  apps/web-example/vite/plugins.ts
  apps/web-template/src/views/login.vue
  apps/web-template/uno.config.ts
  apps/web-template/vite/plugins.ts
Due: eslint --cache --fix, stylelint --cache --fix

更新依赖
  apps/web-example/package.json
  apps/web-template/package.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: none

更新依赖
  .npmrc
  .vscode/settings.json
  eslint.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

更新依赖
  .github/workflows/docs.yml
  apps/web-example/package.json
  apps/web-template/package.json
  docs/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

调整配置项
  .vscode/settings.json
  apps/core/.env.production
  apps/core/.env.test
  apps/core/vite/plugins.ts
  apps/example/.env.production
  apps/example/.env.test
  apps/example/vite/plugins.ts
Due: eslint --cache --fix

更新文档
  docs/guide/axios.md
  docs/guide/configure.md
  docs/guide/icon.md
  docs/guide/monorepo.md
  docs/guide/resources.md
  docs/guide/router.md
  docs/guide/store.md
Due: none

unocss 配置文件提升到根目录
  apps/core/package.json
  apps/core/uno.config.ts
  apps/example/package.json
  apps/example/uno.config.ts
  eslint.config.js
  package.json
  packages/components/package.json
  packages/components/src/icon/index.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
  uno.config.ts
Due: eslint --cache --fix, stylelint --cache --fix

lint 脚本优化
  .github/workflows/docs.yml
  apps/core/src/views/index.vue
  apps/core/src/views/login.vue
  apps/example/package.json
  apps/example/src/components/DemoButton/index.vue
  apps/example/src/layouts/example.vue
  apps/example/src/views/example/axios.vue
  apps/example/src/views/example/component.vue
  apps/example/src/views/example/components/ExampleList/index.vue
  apps/example/src/views/example/icon.vue
  apps/example/src/views/example/params/[test].vue
  apps/example/src/views/example/permission-js.vue
  apps/example/src/views/example/permission-router.vue
  apps/example/src/views/example/pinia.vue
  apps/example/src/views/example/query.vue
  apps/example/src/views/example/reload.vue
  apps/example/src/views/index.vue
  apps/example/src/views/login.vue
  package.json
  packages/components/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --cache --fix, stylelint --cache --fix

本地svg图标实现方案调整
  apps/core/package.json
  apps/core/src/main.ts
  apps/core/tsconfig.app.json
  apps/core/vite/plugins.ts
  apps/example/package.json
  apps/example/src/main.ts
  apps/example/tsconfig.app.json
  apps/example/vite/plugins.ts
  package.json
  packages/components/src/icon/index.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --cache --fix, stylelint --cache --fix

更新文档
  apps/core/.env.development
  apps/core/.env.production
  apps/core/.env.test
  apps/core/src/types/env.d.ts
  apps/core/vite/plugins.ts
  apps/example/.env.development
  apps/example/.env.production
  apps/example/.env.test
  apps/example/src/types/env.d.ts
  apps/example/vite/plugins.ts
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/styles/var.css
  docs/guide/axios.md
  docs/guide/build.md
  docs/guide/configure.md
  docs/guide/env.md
  docs/guide/icon.md
  docs/guide/resources.md
  docs/guide/store.md
  docs/package.json
  docs/public/icones1.png
  docs/public/icones2.png
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  stylelint.config.js
Due: eslint --cache --fix, stylelint --cache --fix

移除 .npmrc 文件并更新 pnpm-workspace.yaml 配置
  .npmrc
  pnpm-workspace.yaml
Due: none

添加 serve 脚本
  apps/example/src/types/components.d.ts
  docs/package.json
  eslint.config.js
  package.json
  scripts/serve.ts
Due: eslint --cache --fix

更新依赖
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

文档部署跳过 jekyll
  docs/public/.nojekyll
Due: none

修复dev/build/serve脚本无法在 Windows 平台正常执行
  scripts/build.ts
  scripts/dev.ts
  scripts/serve.ts
Due: eslint --cache --fix

更新 postinstall 脚本以支持技能链接和文件链接
  package.json
  scripts/postinstall.ts
Due: eslint --cache --fix

重构脚本以统一 CLI 接口
  package.json
  scripts/build.ts
  scripts/cli.ts
  scripts/dev.ts
  scripts/serve.ts
Due: eslint --cache --fix

增加copyright子包，并给components和copyright子包增加unbuild
  apps/core/package.json
  apps/core/src/main.ts
  apps/core/src/utils/system.copyright.ts
  apps/core/vite/plugins.ts
  apps/example/package.json
  apps/example/src/main.ts
  apps/example/src/utils/system.copyright.ts
  apps/example/vite/plugins.ts
  package.json
  packages/components/auto-imports.d.ts
  packages/components/build.config.ts
  packages/components/package.json
  packages/components/src/icon/index.vue
  packages/components/tsconfig.json
  packages/copyright/build.config.ts
  packages/copyright/index.ts
  packages/copyright/package.json
  packages/copyright/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --cache --fix, stylelint --cache --fix

更新文档和依赖
  docs/.vitepress/config.ts
  docs/guide/monorepo.md
  docs/guide/ready.md
  docs/guide/start.md
  docs/index.md
  docs/package.json
  packages/components/src/icon/index.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --cache --fix, stylelint --cache --fix

更新readme
  README.md
Due: none

移除自定义 postinstall 脚本
  package.json
  scripts/postinstall.ts
Due: eslint --cache --fix

删除 .claude
  .claude/settings.json
Due: none

优化错误处理逻辑，更新响应数据格式说明
  apps/core/src/api/index.ts
  apps/example/src/api/index.ts
Due: eslint --cache --fix

增强 dev 脚本匹配逻辑，支持以 'dev:' 开头的脚本名称
  scripts/cli.ts
Due: eslint --cache --fix

更新 unplugin-vue-components 配置，使用 globs 替代 dirs 以支持更灵活的文件匹配
  apps/core/vite/plugins.ts
  apps/example/src/types/components.d.ts
  apps/example/vite/plugins.ts
Due: eslint --cache --fix

修复脚本执行命令，使用平台相关的 pnpm 命令
  scripts/cli.ts
Due: eslint --cache --fix

添加 cross-spawn
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/cli.ts
Due: eslint --cache --fix

更新依赖
  apps/core/vite/plugins.ts
  apps/example/vite/plugins.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --cache --fix

移除 unbuild --stub 模式
  apps/core/vite.config.ts
  apps/core/vite/plugins.ts
  apps/example/vite.config.ts
  apps/example/vite/plugins.ts
  package.json
  packages/components/auto-imports.d.ts
  packages/components/build.config.ts
  packages/components/global.d.ts
  packages/components/index.ts
  packages/components/package.json
  packages/components/resolver.ts
  packages/components/src/icon/index.vue
  packages/components/src/index.ts
  packages/components/tsconfig.json
  packages/copyright/build.config.ts
  packages/copyright/index.ts
  packages/copyright/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --cache --fix, stylelint --cache --fix

回滚 vite-plugin-fake-server 插件配置
  apps/core/src/api/fake_modules/user.fake.ts
  apps/core/vite/plugins.ts
  apps/example/src/api/fake_modules/news.fake.ts
  apps/example/src/api/fake_modules/user.fake.ts
  apps/example/vite/plugins.ts
Due: eslint --cache --fix

chore: readme
  README.md
Due: none
