Repository hooray/fantastic-startkit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix

.lintstagedrc:

{
  "*.{ts,tsx,vue}": "eslint --cache --fix",
  "*.{css,scss,vue}": "stylelint --cache --fix"
}

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

修复vscode无法校验css文件
  .vscode/settings.json
  src/assets/styles/globals.css
  src/main.ts
Due: eslint --cache --fix, stylelint --cache --fix

更新依赖
  .gitignore
  package.json
  pnpm-lock.yaml
  src/assets/styles/globals.css
  tsconfig.app.json
  tsconfig.node.json
Due: stylelint --cache --fix

deploy
  package.json
  pnpm-lock.yaml
Due: none

更新node-version
  .node-version
Due: none

更新依赖
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
Due: eslint --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
  src/router/index.ts
Due: eslint --cache --fix

精简 SvgIcon 组件配置
  src/components/SvgIcon/index.vue
  src/views/example/iconify.vue
  vite.config.ts
Due: eslint --cache --fix, stylelint --cache --fix

精简 SvgIcon 组件配置
  src/components/SvgIcon/index.vue
  vite.config.ts
Due: eslint --cache --fix, stylelint --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
  src/assets/styles/resources/utils.scss
  vite/plugins.ts
Due: eslint --cache --fix, stylelint --cache --fix

引入 `vite-plugin-env-parse`
  package.json
  pnpm-lock.yaml
  src/api/index.ts
  src/types/env.d.ts
  vite/plugins.ts
Due: eslint --cache --fix

拦截器增加 401 状态码处理
  src/api/index.ts
  src/utils/eventBus.ts
Due: eslint --cache --fix

`mockjs` 替换为 `faker`
  package.json
  pnpm-lock.yaml
  src/mock/news.ts
  src/mock/user.ts
Due: eslint --cache --fix

`mockjs` 替换为 `faker`
  package.json
  pnpm-lock.yaml
  src/mock/user.ts
Due: eslint --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
  src/types/env.d.ts
  src/types/vite-env.d.ts
  tsconfig.app.json
  tsconfig.node.json
Due: eslint --cache --fix

deploy
  .vitepress/theme/components/SponsorsAside.vue
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
  src/types/components.d.ts
Due: eslint --cache --fix

增加 cursor 配置
  .cursor/extensions.json
  .cursor/settings.json
Due: none

更新依赖
  package.json
  pnpm-lock.yaml
  uno.config.ts
Due: eslint --cache --fix
