Repository hooray/fantastic-startkit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix

.lintstagedrc:

{
  "*.{ts,tsx,vue}": "eslint --cache --fix",
  "*.{css,scss,vue}": "stylelint --cache --fix"
}

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

增加请求重试机制
  src/api/index.ts
Due: eslint --cache --fix

deploy
  .vitepress/theme/components/SponsorsAside.vue
  guide/axios.md
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
Due: eslint --cache --fix

更新 Node.js 版本要求
  package.json
Due: none

新增 vite-plugin-checker 插件
  package.json
  pnpm-lock.yaml
  src/api/index.ts
  src/router/index.ts
  vite/plugins.ts
Due: eslint --cache --fix

回滚
  package.json
  pnpm-lock.yaml
  vite/plugins.ts
Due: eslint --cache --fix

pinia store 改为自动导入
  plop-templates/store/index.hbs
  plop-templates/store/prompt.js
  src/App.vue
  src/api/index.ts
  src/main.ts
  src/router/index.ts
  src/store/index.ts
  src/store/settings.ts
  src/store/user.ts
  src/types/auto-imports.d.ts
  src/views/login.vue
  vite/plugins.ts
Due: eslint --cache --fix, stylelint --cache --fix

pinia store 改为自动导入
  plop-templates/store/index.hbs
  plop-templates/store/prompt.js
  src/App.vue
  src/api/index.ts
  src/main.ts
  src/router/index.ts
  src/store/example.ts
  src/store/index.ts
  src/store/settings.ts
  src/store/user.ts
  src/types/auto-imports.d.ts
  src/views/example/permission-js.vue
  src/views/example/permission-router.vue
  src/views/example/pinia.vue
  src/views/login.vue
  vite/plugins.ts
Due: eslint --cache --fix, stylelint --cache --fix

deploy
  .vitepress/theme/components/SponsorsAside.vue
  guide/axios.md
  guide/store.md
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --cache --fix

更新依赖
  package.json
  plop-templates/store/prompt.js
  pnpm-lock.yaml
  src/main.ts
  src/store/index.ts
  src/store/modules/example.ts
  src/store/modules/settings.ts
  src/store/modules/user.ts
  src/types/auto-imports.d.ts
  vite.config.ts
  vite/plugins.ts
Due: eslint --cache --fix

更新依赖
  package.json
  plop-templates/store/prompt.js
  pnpm-lock.yaml
  src/main.ts
  src/store/index.ts
  src/store/modules/settings.ts
  src/store/modules/user.ts
  src/types/auto-imports.d.ts
  vite.config.ts
  vite/plugins.ts
Due: eslint --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
  tsconfig.app.json
Due: none

调整环境变量名
  .env.development
  src/api/index.ts
  src/types/env.d.ts
  vite.config.ts
  vite/plugins.ts
Due: eslint --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
  src/types/env.d.ts
Due: eslint --cache --fix

deploy
  guide/axios.md
  guide/configure.md
Due: none

更新依赖
  package.json
  pnpm-lock.yaml
  src/types/components.d.ts
Due: eslint --cache --fix

deploy
  guide/axios.md
  guide/configure.md
  package.json
  pnpm-lock.yaml
Due: none

更新依赖
  package.json
  pnpm-lock.yaml
  src/router/index.ts
  src/types/auto-imports.d.ts
  tsconfig.app.json
  vite/plugins.ts
Due: eslint --cache --fix

添加 Monorepo 架构文档并更新相关指南
  docs/.vitepress/config.ts
  docs/guide/monorepo.md
  docs/guide/plop.md
  docs/guide/resources.md
  docs/guide/start.md
  docs/index.md
Due: eslint --cache --fix

更新文档
  README.md
  docs/guide/start.md
Due: none
